@font-face {
    font-family: rick_and_morty;
    src: url("../../assets/");
}

.card{
    background-color: aqua;
    border: solid;
    font-family: rick_and_morty;
    width: 25em;
    height: 30em;
    border-radius: 2em;
}